<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3g2</string>
				<string>3gp2</string>
				<string>3gpp</string>
				<string>3gpp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>3GP</string>
			<key>CFBundleTypeRole</key>
			<string>GRImporter</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 video</string>
			<key>CFBundleTypeRole</key>
			<string>GRImporter</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>co.cocoanuts.gremlinplugins.videos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Camera Roll Video Importer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GRDestinationDisplayName</key>
	<string>Camera Roll</string>
	<key>GRRequiredResources</key>
	<array>
		<string>com.apple.photolibrary</string>
	</array>
	<key>MinimumCFVersionNumber</key>
	<string>675.00</string>
	<key>NSPrincipalClass</key>
	<string>GRVideoImporter</string>
</dict>
</plist>
