<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GRDocumentImporter</string>
	<key>CFBundleIdentifier</key>
	<string>co.cocoanuts.gremlin.grdocumentimporter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GRRequiredResources</key>
	<array>
		<string>com.apple.LaunchServices</string>
	</array>
	<key>GRSupportedTypes</key>
	<dict>
		<key>GRSupportsAll</key>
		<integer>1</integer>
	</dict>
	<key>MinimumCFVersionNumber</key>
	<string>550.52</string>
	<key>NSPrincipalClass</key>
	<string>GRDocumentImporter</string>
</dict>
</plist>
