<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>GRImporter</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.tiff</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GRPhotoImporter</string>
	<key>CFBundleIdentifier</key>
	<string>co.cocoanuts.gremlinplugins.photos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Camera Roll Photo Importer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GRDestinationDisplayName</key>
	<string>Camera Roll</string>
	<key>GRRequiredResources</key>
	<array>
		<string>com.apple.photolibrary</string>
	</array>
	<key>MinimumCFVersionNumber</key>
	<string>550.52</string>
	<key>NSPrincipalClass</key>
	<string>GRPhotoImporter</string>
</dict>
</plist>
