<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vcf</string>
				<string>vcard</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>vCard</string>
			<key>CFBundleTypeRole</key>
			<string>GRImporter</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.vcard</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GRContactImporter</string>
	<key>CFBundleIdentifier</key>
	<string>co.cocoanuts.gremlinplugins.contacts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Contact Info Importer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GRDestinationDisplayName</key>
	<string>Contacts</string>
	<key>GRRequiredResources</key>
	<array>
		<string>com.apple.addressbook</string>
	</array>
	<key>MinimumCFVersionNumber</key>
	<string>550.52</string>
	<key>NSPrincipalClass</key>
	<string>GRContactImporter</string>
</dict>
</plist>
